<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- <nav>
	<ul>
		<li><a href="" class="btn btn-primary">Home</a></li>
		<li><a href="/emp" class="btn btn-primary">Add New Record</a></li>
		<li><a href="/show" class="btn btn-primary">Show</a></li>
	</ul>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/emp">Add New Record</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/show">Show</span></a>
      </li>
    </ul>
    
  </div>
</nav>